In [5]:
import findspark 
findspark.init()

import pyspark 
from pyspark.sql import SparkSession 
spark = SparkSession.builder.getOrCreate()

df = spark.sql('''select 'spark' as hello''')
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [7]:
from pyspark import SparkContext 
from pyspark.sql import Window,Row
from pyspark.sql.functions import * 
from pyspark.sql.types import * 
import matplotlib.pyplot as plt

In [8]:
#SparkSession-entry point to programming Spark with Dataset and API 
spark = SparkSession \
        .builder \
        .appName("firstSpark")\
        .getOrCreate()

In [9]:
def load_dataframe(filename):
    df = spark.read.format('csv').options(header='True').load(filename)
    return df 

#creating dataframe 
df_matches = load_dataframe('./Data/Matches.csv')
df_matches.limit(5).show()

+--------+---+------+----------+-------------+--------------+----+----+---+
|Match_ID|Div|Season|      Date|     HomeTeam|      AwayTeam|FTHG|FTAG|FTR|
+--------+---+------+----------+-------------+--------------+----+----+---+
|       1| D2|  2009|2010-04-04|   Oberhausen|Kaiserslautern|   2|   1|  H|
|       2| D2|  2009|2009-11-01|  Munich 1860|Kaiserslautern|   0|   1|  A|
|       3| D2|  2009|2009-10-04|Frankfurt FSV|Kaiserslautern|   1|   1|  D|
|       4| D2|  2009|2010-02-21|Frankfurt FSV|     Karlsruhe|   2|   1|  H|
|       5| D2|  2009|2009-12-06|        Ahlen|     Karlsruhe|   1|   3|  A|
+--------+---+------+----------+-------------+--------------+----+----+---+

In [14]:
#rename columns
old_cols = df_matches.columns[-3:]
new_cols = ["HomeTeamGoals","AwayTeamGoals","FinalResult"]
old_new_cols = [*zip(old_cols, new_cols)]
for old_col, new_col in old_new_cols: 
    df_matches = df_matches.withColumnRenamed(old_col, new_col)
    
df_matches.limit(20).toPandas()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,FinalResult
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
5,6,D2,2009,2010-04-03,Union Berlin,Karlsruhe,1,1,D
6,7,D2,2009,2009-08-14,Paderborn,Karlsruhe,2,0,H
7,8,D2,2009,2010-03-08,Bielefeld,Karlsruhe,0,1,A
8,9,D2,2009,2009-09-26,Kaiserslautern,Karlsruhe,2,0,H
9,10,D2,2009,2009-11-21,Hansa Rostock,Karlsruhe,2,1,H
10,11,D2,2009,2009-12-19,Greuther Furth,Karlsruhe,1,4,A
11,12,D2,2009,2010-04-16,Koblenz,Karlsruhe,2,2,D
12,13,D2,2009,2010-03-21,Oberhausen,Karlsruhe,1,0,H
13,14,D2,2009,2009-09-14,Cottbus,Karlsruhe,2,4,A
14,15,D2,2009,2010-05-02,Duisburg,Karlsruhe,0,1,A
15,16,D2,2009,2009-10-30,Fortuna Dusseldorf,Karlsruhe,1,0,H
16,17,D2,2009,2010-01-15,Aachen,Karlsruhe,3,1,H
17,18,D2,2009,2009-10-18,Augsburg,Karlsruhe,1,1,D
18,19,D2,2009,2010-02-05,St Pauli,Karlsruhe,2,1,H
19,20,D2,2009,2009-08-24,Munich 1860,Karlsruhe,1,3,A

In [18]:
#1.Winners of D1 division in Germany Football Association (Bundesliga) in last decade 
df_matches = df_matches \
    .withColumn('HomeTeamWin', when(col('FinalResult') == 'H', 1).otherwise(0)) \
    .withColumn('AwayTeamWin', when(col('FinalResult') == 'A', 1).otherwise(0)) \
    .withColumn('GameTie', when(col('FinalResult') == 'D', 1).otherwise(0))


#bundesliga is a D1 division and we are interested in season <= 2010 and >= 2000
bundesliga = df_matches \
                    .filter((col('Season') >= 2000) & 
                            (col('Season') <= 2010) & 
                            (col('Div') == 'D1'))
#Aggregate home and away game results separately creating two dataframes: home and away 
# home team features
home = bundesliga.groupby('Season', 'HomeTeam') \
       .agg(sum('HomeTeamWin').alias('TotalHomeWin'),
            sum('AwayTeamWin').alias('TotalHomeLoss'),
            sum('GameTie').alias('TotalHomeTie'),
            sum('HomeTeamGoals').alias('HomeScoredGoals'),
            sum('AwayTeamGoals').alias('HomeAgainstGoals')) \
       .withColumnRenamed('HomeTeam', 'Team')

#away game features 
away =  bundesliga.groupby('Season', 'AwayTeam') \
       .agg(sum('AwayTeamWin').alias('TotalAwayWin'),
            sum('HomeTeamWin').alias('TotalAwayLoss'),
            sum('GameTie').alias('TotalAwayTie'),
            sum('AwayTeamGoals').alias('AwayScoredGoals'),
            sum('HomeTeamGoals').alias('AwayAgainstGoals'))  \
       .withColumnRenamed('AwayTeam', 'Team')

In [22]:
#season features 
window = ['Season']
window = Window.partitionBy(window).orderBy(col('WinPct').desc(),col('GoalDIfferentials').desc())
table = home.join(away,['Team','Season'],'inner')\
    .withColumn('GoalsScored',col('HomeScoredGoals')+col('AwayScoredGoals'))\
    .withColumn('GoalsAgainst',col('HomeAgainstGoals')+col('AwayAgainstGoals'))\
    .withColumn('GoalDifferentials',col('GoalsScored')-col('GoalsAgainst'))\
    .withColumn('Win', col('TotalHomeWin') + col('TotalAwayWin')) \
    .withColumn('Loss', col('TotalHomeLoss') + col('TotalAwayLoss')) \
    .withColumn('Tie', col('TotalHomeTie') + col('TotalAwayTie')) \
    .withColumn('WinPct', round((100* col('Win')/(col('Win') + col('Loss') + col('Tie'))), 2)) \
    .drop('HomeScoredGoals', 'AwayScoredGoals', 'HomeAgainstGoals', 'AwayAgainstGoals') \
    .drop('TotalHomeWin', 'TotalAwayWin', 'TotalHomeLoss', 'TotalAwayLoss', 'TotalHomeTie', 'TotalAwayTie') \
    .withColumn('TeamPosition', rank().over(window))

table_df = table.filter(col('TeamPosition') == 1).orderBy(asc('Season')).toPandas()
table_df

,Team,Season,GoalsScored,GoalsAgainst,GoalDifferentials,Win,Loss,Tie,WinPct,TeamPosition
0,Bayern Munich,2000,62.0,37.0,25.0,19,9,6,55.88,1
1,Leverkusen,2001,77.0,38.0,39.0,21,7,6,61.76,1
2,Bayern Munich,2002,70.0,25.0,45.0,23,5,6,67.65,1
3,Werder Bremen,2003,79.0,38.0,41.0,22,4,8,64.71,1
4,Bayern Munich,2004,75.0,33.0,42.0,24,5,5,70.59,1
5,Bayern Munich,2005,67.0,32.0,35.0,22,3,9,64.71,1
6,Stuttgart,2006,61.0,37.0,24.0,21,6,7,61.76,1
7,Bayern Munich,2007,68.0,21.0,47.0,22,2,10,64.71,1
8,Wolfsburg,2008,80.0,41.0,39.0,21,7,6,61.76,1
9,Bayern Munich,2009,72.0,31.0,41.0,20,4,10,58.82,1
10,Dortmund,2010,67.0,22.0,45.0,23,5,6,67.65,1